*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
}
body{
    background-color: #55cd58;
}
.container{
    background-color: #ffffff;
    width: 350px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 35px 50px;
    border-radius: 8px;
}
input[type="password"]{
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #202020;
}
#warning{
    display: none;
    margin-top: 10px;
    background-color: #ffdde0;
    color: #d32f2f;
    padding: 5px;
}